/*
    ? @document-start
    ======================
    | PRIMARY CSS STYLES |
    ==================================================================================================================================

    ? @author:                 William J. Horn
    ? @document-name:          primary-styles.css
    ? @document-created:       02/24/2022
    ? @document-modified:      02/24/2022
    ? @document-version:       v1.0.0.0

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-about
    ==================
    | ABOUT DOCUMENT |
    ==================================================================================================================================

    The primary css styles for webpage

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-changelog
    ======================
    | DOCUMENT CHANGELOG |
    ==================================================================================================================================

    * If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
    file. Learn more about the changelog system here: 
    https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

    ----------------------------------------------------------------------------------------------------------------------------------
*/

.top-border-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ------------------ */
/* Main Header Styles */
/* ------------------ */
/* @program-main      */
/* @css:"header"      */
/* ------------------ */

.header-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 15px 0;
    width: 60%;
    margin: 0 auto;
}

/* main profile picture */
.header-info-container > img {
    width: 15vw;
    height: 15vw;

    padding: 10px;
    border-radius: 10px;
    border: 5px solid var(--theme-navbar-background-color);
    margin: 10px;
    /* background-color: #5bacff; */
    box-shadow: 0 0 10px black;
}

.header-info {
    height: 15vw;
}

.main-heading {
    font-size: 2vw;
}

.header-about-me h2 {
    font-size: 1.2vw;
}

.header-about-me p {
    font-size: 1vw;
}


/* ----------------------------- */
/* Main Body "My Skills" Section */
/* ----------------------------- */
/* @css:"my skills section"      */
/* ----------------------------- */

main section {
    margin: 20px 60px;
    height: 200px;
}


/* ? @document-end */