/*
    ? @document-start
    ======================
    | PRIMARY CSS STYLES |
    ==================================================================================================================================

    ? @author:                 William J. Horn
    ? @document-name:          primary-styles.css
    ? @document-created:       02/24/2022
    ? @document-modified:      02/24/2022
    ? @document-version:       v1.0.0.0

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-about
    ==================
    | ABOUT DOCUMENT |
    ==================================================================================================================================

    The primary css styles for webpage

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @document-changelog
    ======================
    | DOCUMENT CHANGELOG |
    ==================================================================================================================================

    * If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
    file. Learn more about the changelog system here: 
    https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

    ----------------------------------------------------------------------------------------------------------------------------------
*/


/*  nav bar */
.flex-list-row {
    display: flex;
    height: 50%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flex-list-row li {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #2f465f;
}

.flex-list-row li:nth-child(-n+3) {
    background-color: #96abbb;
}

.flex-list-column {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto;
    background-color: #2f465f;
    border-radius: 20px;
}

.flex-list-column li {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


.header-navbar {
    background-color: #346489;
    width: 100%;
    height: 100px;
}

/* ------------------ */
/* Main Header Styles */
/* ------------------ */
/* @program-main      */
/* @css:"header"      */
/* ------------------ */

.header-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 15px 0;
    width: 60%;
    margin: 0 auto;
}

/* main profile picture */
.header-info-container img {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid var(--theme-navbar-background-color);
    margin: 10px;
    /* background-color: #5bacff; */
    box-shadow: 0 0 10px black;
}

.header-info-container h1 {
    color: var(--theme-text-color);
}

.header-title {
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.header-title span {
    color: var(--theme-secondary-text-color);
    font-size: 24px;
}


/* ----------------------------- */
/* Main Body "My Skills" Section */
/* ----------------------------- */
/* @css:"my skills section"      */
/* ----------------------------- */

.image-card {
    border-radius: 10px;
    border: 5px solid var(--theme-navbar-background-color);
    box-shadow: 0 0 10px black;
}

.image-row {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.image-row img {
    width: 20vw;
    object-fit: cover;
}

.project-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 0 auto;

}

.project-list div {
    background-color: #346489;
    border-radius: 20px;
    height: 20vw;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.project-list a {
    all:unset;
}

.project-list div:first-child {
    width: 100%;
    height: 30vw;
}


.image-link {
    width: 100px;
}



.project-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
}



/* ? @document-end */